body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


.selmul_fixed_heigth{
    height: 500px;   
    width: 100%;
}

.centrar_algo{
    display:table; 
    margin:0 auto;   
}

.btn-margin{
    margin-left:5px;
}


::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

textarea{
 resize: vertical;   
}


/*Para el datepiker*/
.deleteParent{  
        position:absolute;
        z-index: 10;
        margin-left: 85%;
    }



    div.colorPicker-picker {
        height: 25px;
        text-align: center;
        font-weight: bold;
    }

    div.colorPicker-palette {
        /*  width: 110px;*/
        position: absolute;
        border: 1px solid #598FEF;
        background-color: #EFEFEF;
        padding: 2px;
        z-index: 9999;
    }
    div.colorPicker_hexWrap {width: 100%; float:left }
    div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
    div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

    div.colorPicker-swatch {
        height: 18px;
        width: 22px;
        border: 1px solid #000;
        margin: 2px;
        float: left;
        cursor: pointer;
        line-height: 12px;
    }