<div class="row">
    <div class="col-md-10">
    <div class="hidden-xs">
        <a href="{% url 'escolar:mostrar_alumnos_curso' curso.id %}" class="btn btn-sm {% if disabled == 0 %} btn-default disabled {% else %} btn-info {% endif %}">Alumnos</a>
        <a href="{% url 'escolar:mostrar_campos_curso' curso.id %}" class="btn btn-sm {% if disabled == 1 %} btn-default disabled {% else %} btn-info {% endif %}">Campos de Aprendizaje</a>
        <a href="{% url 'escolar:matricular_curso' curso.id %}" class="btn btn-sm {% if disabled == 2 %} btn-default disabled {% else %} btn-info {% endif %}">Matricular Alumnos</a>
        {% if gestor %}
        <a href="{% url 'escolar:mostrar_docentes_curso' curso.id %}" class="btn btn-sm {% if disabled == 3 %} btn-default disabled {% else %} btn-info {% endif %}">Matricular Docente</a>        
        {% endif %}
    </div>

    <li class="dropdown visible-xs">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seleccionar: <span class="caret"></span></a>
        <ul class="dropdown-menu btn btn-sm" role="menu">
            <li><a href="{% url 'escolar:mostrar_alumnos_curso' curso.id %}" class="{% if disabled == 0 %}disabled {% endif %}">Alumnos</a></li>
            <li><a href="{% url 'escolar:mostrar_campos_curso' curso.id %}" class="{% if disabled == 1 %}disabled {% endif %}">Campos de Aprendizaje</a></li>
            <li><a href="{% url 'escolar:matricular_curso' curso.id %}" class="{% if disabled == 2 %}disabled {% endif %}">Matricular Alumnos</a></li>
             {% if gestor %}
            <li><a href="{% url 'escolar:mostrar_docentes_curso' curso.id %}" class="{% if disabled == 2 %}disabled {% endif %}">Matricular Docente</a></li>
            {% endif %}
        </ul>
    </li>
    </div>
    <div class="col-md-2" style="border 1px">
        

        <a  title="Imprimir Listado DNI" class="btn btn-xs btn-default" href="{% url 'escolar:generar_listado_alumnos_pdf' curso.id %}">
                        <i class="fa fa-print"></i>
                    </a>
        <a  title="Imprimir Listado Telefónico" class="btn btn-xs btn-default" href="{% url 'escolar:generar_listado_telefonos_alumnos_pdf' curso.id %}">
                        <i class="fa fa-phone"></i>
                    </a>
        {% if gestor %}
        <a  title="Generar Base Certificados" class="btn btn-xs btn-default" href="{% url 'escolar:generar_base_para_certificados' curso.id %}">
                        <i class="fa fa-list"></i>
                    </a>
        {% endif %}
    
    </div>
    
</div>
