{% extends 'homes/home.html' %}
{% block  wrapper %}
<div id='listados'>

    <h2>Listados</h2>

    <div class="list-group">  
        <a href="{% url 'escolar:generar_listado_gdipe' ciclo_actual %}" class="list-group-item">Matrícula gdipe año {{ciclo_actual}}</a>        
    </div>

</div>

<span id='span_formulario' style="display:None" >
    <form action="" id="form_formulario" method="post">
        {% csrf_token %}
        <input type="hidden" id="tabs_control" name="tabs_control" value="{{tabs_control}}">
        <select name="ciclo" class="form-control" onchange="submit()">
            {% for anio in anios_disponibles %}
            {% if anio in ciclo_actual %}
            <option value='{{anio}}' selected >-- {{anio}}</option>
            {% else %}
            <option value='{{anio}}'>{{anio}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </form>

</span>

{% endblock %}