<li><a href="{% url 'escolar:home'%}">Cursos</a></li>
<li><a href="{% url 'escolar:docentes' %}">Docentes</a></li>
<li><a href="{% url 'escolar:listados' %}">Listados</a></li>      
<li><a href="{% url 'escolar:agregar_alumno' 0 %}">Agregar Alumnos</a></li>    
<li class="divider"></li>
<li><a href="{% url 'escolar:generar_cursos' %}">Crear todos los cursos</a></li>
<li class="divider"></li>
<li><a href="#">Mis datos (no implementado)</a></li>

<li class="divider"></li>
<li><a href="{% url 'escolar:desloguearse' %}">Salir</a></li>