<!doctype html>

{% extends 'base.html' %}

{% block header%}

{% endblock %}

{% block contenido %}
<div class="page-header">    
    <h1>Agregar alumnos</h1>
    <h2>{{curso}}</h2>
</div>  
<div class="jumbotron">    
    <form action="{% url 'escolar:agregar_alumno' id_curso %}"  method="post">
        {% csrf_token %}        
        {{ form.as_p }}
        <input type="submit" class="btn btn-lg btn-primary btn-primary pull-right btn-margin" name="si_volver" value="Guardar y Regresar" />
        <input type="submit" class="btn btn-lg btn-primary btn-info pull-right btn-margin" name="no_volver" value="Guardar y Continuar" />
        <a class="btn btn-lg btn-primary btn-danger pull-right btn-margin" href="{% url 'escolar:mostrar_alumnos_curso' curso.id %}" > Volver </a>
    </form>
</div>
{% endblock %}

{% block scripts%}


<script type="text/javascript">           
    $(function() {
        $( "#id_fechaDeNacimiento" ).datepicker({
            dateFormat: "dd/mm/yy",
        });
    });        

</script>
{% endblock %}