{% extends 'base.html' %}

{% block header%}
<style>
    .deleteParent{  
        position:absolute;
        z-index: 10;
        margin-left: 85%;
    }



    div.colorPicker-picker {

    }

    div.colorPicker-palette {
        /*  width: 110px;*/
        position: absolute;
        border: 1px solid #598FEF;
        background-color: #EFEFEF;
        padding: 2px;
        z-index: 9999;
    }
    div.colorPicker_hexWrap {width: 100%; float:left }
    div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
    div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

    div.colorPicker-swatch {
        height: 18px;
        width: 22px;
        border: 1px solid #000;
        margin: 2px;
        float: left;
        cursor: pointer;
        line-height: 12px;
    }

</style>
{% endblock %}

{% block contenido %}

<div class="page-header">    
    <h1 style="cursor: pointer;" 
        onclick="$(location).attr('href','{% url 'escolar:mostrar_campo'  campo.id %}');">
        {{campo.curso}}</h1>
    

</div>  

<div id="page-wrapper">    
    
    <h3>{{campo.titulo}}</h3>
    
    <div class="row">

        <div class="col-md-5 well height:440px; overflow-y: hide;">
            <h4>Agregar un nuevo item.</h4>
            <form id="agregar" action="" method="post">
                {% csrf_token %}
                <textarea id ="txtArea" name='item' class="form-control"
                          style="height:280px;"></textarea>
                <input class="form-control" id="color" type="text" name="color" />
                <br>
                <button onclick="$('#agregar').submit();" class="btn btn-success pull-right btn-margin" value="">Agregar</button>
                <button id="btn_clean" class="btn btn-danger pull-right btn-margin" value="">Limpiar</button>
            </form>
        </div>
        <div class="col-md-7 " style="height:440px; overflow-y: scroll;">
            {% include 'campo/principal/_items.html' %}    
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}js/color-picker.min.js"></script>

<script>
    $('#color').colorPicker({showHexField: false,
                             pickerDefault: "E0E0E0",
                             colors: ["FF3333", "32CD32", "6666FF", "FF3399", "FFFF33","E0E0E0",
                                     "DC143C", "EE82EE", "FF4500", "BDB76B", "008000","008B8B"]});
    $('#btn_clean').click(function(){
        $('#txtArea').val("");
        $('.colorPicker-picker').css("background-color", "#E0E0E0");    
        $('#color').val("#E0E0E0");    
    });



</script>
{% endblock %}