
{% extends 'base.html' %}

{% block contenido %}


<div class="page-header">
    <h1 >  
        Copiar Items de Cursos</h1>    
</div>  

<div id="page-wrapper">    
    <span id="pepe"></span>
    <form method="post" action="{% url 'escolar:copy_items' %}">
        {% csrf_token %}
        <br>
        <label >Desde el curso:</label>
        <select onchange="updateCampos($(this));" class="form-control" name="from">
            {% for curso in cursos %}
            <option value='{{curso.id}}'>{{curso}}</option>
            {% endfor %}
        </select>
        <label >Seleccionar Campo:</label>
        <select id="lista_campos" class="form-control" name="campo">            
            <option value='0'>---TODOS LOS CAMPOS---</option>            
        </select>
        <label >Al:</label>
        <select class="form-control" name="to">
            {% for curso in cursos %}
            <option value='{{curso.id}}'>{{curso}}</option>
            {% endfor %}
        </select>
        <label >Semestre:</label>
        <select name="semestre" class="form-control">
            {% for semestre in '12' %}
            <option value='{{semestre}}'>{{semestre}}° semestre</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Enviar" class="btn btn-success pull-right">
    </form>
</div>



{% endblock %}
{% block scripts%}
<script>



    function updateCampos(select){
        console.log(select.val())
        $('#lista_campos').empty().append('<option value="0">---TODOS LOS CAMPOS---</option>');
        var list = '';
        var data={
            id_curso:select.val(),            
            csrfmiddlewaretoken:'{{csrf_token}}',
        }

        $.ajax(
            {
                url: "{% url 'escolar:get_campos_curso' %}",
                type: "post",
                data:data,
                dataType: "html",
                error: function(data){
                    console.log(data.responseText);

                },
                success: function( data ){                    

                    $.each(eval(data.replace(/[\r\n]/, "")), function(i, item) {                        
                        $('#lista_campos').append('<option value="'+item.pk+'">'+item.fields.titulo+'</option>');
                    });
                }
            }							
        );
    }

</script>
{% endblock %}






